h2 Grouping

pre.fragment
  code(data-trim data-noescape).lang-java
    | @Tag("perf")
    | @Tag("slow-tests")
    | public class PerformanceTest {
    |
    |   @Test
    |   @Tag("impossible-tests")
    |   public void testTheHaltingProblem() {
    |   }
    | }
