h2 The same...but different

table
  tr.fragment
    td
      h5 Lifecycle Hooks
    td
      pre
        code.lang-java
          | @BeforeClass
          | @Before
          | @After
          | @AfterClass
    td
      pre
        code.lang-java
          | @BeforeAll
          | @BeforeEach
          | @AfterEach
          | @AfterAll

  tr.fragment
    td
      h5 Disabling
    td
      pre
        code.lang-java
          | @Ignore
    td
      pre
        code.lang-java
          | @Disabled


  tr.fragment
    td
      h5 Repeated Tests
    td
      pre
        code.lang-text
          | INSANE AMOUNT OF CODE
    td
      pre
        code.lang-java
          | @RepeatedTest(
          |    value = 99,
          |    name = "{displayName}, {currentRepetition}/{totalRepetitions}"
          | )

  tr.fragment
    td
      h5 Grouping
    td
      pre
        code.lang-java
          | @RunWith(Categories.class)
          | @Suite.SuiteClasses( { UnitTests.class })
          | public class UnitTestSuite {}

    td
      pre
        code.lang-java
          | @Tag("perf")
          | public class PerformanceTest {
          |   @Test
          |   @Tag("GroupA")
          |   @Tag("impossible-tests")
          |   public void testTheHaltingProblem() {}
          | }
