h2 The same...but different

table
  tr.fragment
    td
      h4 Lifecycle Hooks
    td
      pre
        code.lang-java
          | @BeforeClass
          | @Before
          | @After
          | @AfterClass
    td
      pre
        code.lang-java
          | @BeforeAll
          | @BeforeEach
          | @AfterEach
          | @AfterAll

  tr.fragment
    td
      h4 Disabling
    td
      pre
        code.lang-java
          | @Ignore
    td
      pre
        code.lang-java
          | @Disabled


  tr.fragment
    td
      h4 Repeated Tests
    td
      pre
        code.lang-text
          | INSANE AMOUNT OF CODE
    td
      pre
        code.lang-java
          | @RepeatedTest(
          |    value = 99,
          |    name = "{displayName}, {currentRepetition}/{totalRepetitions}"
          | )
