div
  pre
    code(data-trim data-noescape).lang-java
      | public class StatesServiceTest {
      .fragment
        |     @Nested
        |     @DisplayName("when retrieving by starting character")
        |     public class StatesByStartingCharacterTests {
        .fragment
          |         @Nested
          |         @DisplayName("with matching value")
          |         public class MatchingValueTests {
          .fragment
            |             @Test
            |             @DisplayName("should return matching values")
            |             public void shouldReturnMatchingValues() {
            |                 assertEquals(dataBean.getStatesStartingWith('A').size(), 4);
            |             }
          |         }
          |
        .fragment
          |
          |         @Nested
          |         @DisplayName("with non-matching value")
          |         public class NonMatchingValueTests {
          .fragment
            |             @Test
            |             @DisplayName("should return empty List")
            |             public void shouldReturnEmptyList() {
            |                 assertTrue(dataBean.getStatesStartingWith('!').isEmpty());
            |             }
          |         }
        |     }
      | }

    div.fragment
      div.fill.centered.obscure
      img.centered(src="../../../resources/images/nested-test-result.png")