h2 What about...?

div.row
  h2.fragment Spock
  div.fragment
    p Sometimes you can't use Groovy
    p Backwards Compatibility


div.row
  h2.fragment Test NG
  div.fragment
    p Rigid naming
    p Awkward setup/teardown


div.row
  h2.fragment Spek
  div.fragment
    p Immature