h2 What about...?

table
  tr
    td.fragment
      h3 Spock
    td.fragment
      p Sometimes you can't use Groovy
      p Backwards Compatibility

  tr
    td.fragment
      h3 Test NG
    td.fragment
      p Rigid naming
      p Awkward setup/teardown

  tr
    td.fragment
      h3 Spek
    td.fragment
      p Immature
